<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Forget Password - AgriGo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ForgetPassword.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </head>
  <body>
    <img
      class="wave"
      src="{% static 'images/Login/wave.png' %}"
      alt="Background Wave Image"
    />
    <div class="container">
      <div class="img">
        <img
          src="{% static 'images/Login/personalization.svg' %}"
          alt="Background Icon Image"
        />
      </div>
      <div class="login-content">
        <form method="post" action="{% url 'ForgetPassword' %}">
          {% csrf_token %}
          <img
            src="{% static 'images/Login/profilepic.svg' %}"
            alt="Background Icon Image"
          />
          <h2 class="title">Forget Password</h2>
          <div class="button-group">
            <button type="button" class="toggle-btn btn" onclick="showEmail()">
              Email
            </button>
            <h5 class="h5-or">or</h5>
            <button type="button" class="toggle-btn btn" onclick="showPhone()">
              Phone
            </button>
          </div>
          <div id="emailDiv">
            <div class="input-div one">
              <div class="i">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <div class="div">
                <h5>Example@domain.com</h5>
                <input type="email" class="input" id="email" name="email" />
                <span id="emailError" class="error"></span>
              </div>
            </div>
          </div>
          <div id="phoneDiv">
            <div class="input-div pass">
              <div class="i">
                <i class="fa-solid fa-mobile"></i>
              </div>
              <div class="div">
                <h5>xxx xxx xxxx</h5>
                <input type="text" class="input" id="phone" name="phone" />
                <span id="phoneError"></span>
              </div>
            </div>
          </div>
          <input type="submit" class="btn" value="Next" />

          {% if messages %}
          <div>
            {% for message in messages %} {% if 'success' in message.tags %}
            <div class="alert alert-success">{{ message }}</div>
            {% elif 'error' in message.tags %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endif %} {% endfor %}
          </div>
          {% endif %}
        </form>
      </div>
    </div>
    <!-- Link for Javascript -->
    <script>
      function showEmail() {
        document.getElementById("emailDiv").style.display = "block";
        document.getElementById("phoneDiv").style.display = "none";
      }

      function showPhone() {
        document.getElementById("emailDiv").style.display = "none";
        document.getElementById("phoneDiv").style.display = "block";
      }

      // Initialize with only email shown
      showEmail();

      const inputs = document.querySelectorAll(".input");

      function addcl() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
      }

      function remcl() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
          parent.classList.remove("focus");
        }
      }

      inputs.forEach((input) => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
      });

      function showEmail() {
        document.getElementById("emailDiv").style.display = "block";
        document.getElementById("phoneDiv").style.display = "none";
      }

      function showPhone() {
        document.getElementById("emailDiv").style.display = "none";
        document.getElementById("phoneDiv").style.display = "block";
      }

      // Initially, show email and hide phone
      document.addEventListener("DOMContentLoaded", (event) => {
        showEmail();
      });
    </script>
  </body>
</html>
