<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details View</title>
    <script src="https://kit.fontawesome.com/65eed8ca1e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/UserDetailsView.css' %}">
</head>
<body>
    <div class="overall">
        <header>
            <h1>AgriGo</h1>
            <div>
                <i class="fa-regular fa-bell"></i>
                <a href="/AdminLogin"><i class="fa-solid fa-power-off"></i></a>
            </div>
        </header>
        <section>
            <nav>
                <div>
                    <img src="{% static 'images/Dashboard/profile.jpeg' %}" alt="Profile Image" />
                    <div>
                        <h1>Admin Name</h1>
                        <p>Role - Admin</p>
                    </div>
                    <i class="fa-solid fa-bookmark"></i>
                </div>
                <ul>
                    <li><a href="/Dashboard"><h1>Dashboard</h1><i class="fa-solid fa-home"></i></a></li>
                    <li><a href="/UserDetailsView" class="active"><h1>Users</h1><i class="fa-solid fa-user"></i></a></li>
                    <li><a href="/ItemDetailsView"><h1>Products</h1><i class="fa-solid fa-box"></i></a></li>
                    <li><a href="#"><h1>Settings</h1><i class="fa-solid fa-cog"></i></a></li>
                </ul>
            </nav>
            <div class="main-page">
                <div class="row-1">
                    <h2>User Details</h2>
                </div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th class="table-edit">Edit</th>
                        <th class="table-delete">Delete</th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{% if user.profile.phone %}{{ user.profile.phone }}{% else %}N/A{% endif %}</td>
                        <td>{% if user.is_superuser %}Admin{% else %}User{% endif %}</td>
                        <td>
                            <button class="edit-btn">
                                <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                            </button>
                        </td>
                        <td>
                            <button class="delete-btn">
                                <a href="{% url 'DeleteUser' user.id %}"><i class="fa-solid fa-trash"></i></a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </div>
</body>
</html>
